<div class="title">
    <h3 class="page-header">
        interactive_video
        <button ng-click='new_Lesson()' class="btn btn-success"> save</button>
        <button ng-click='delete_chapter()' class="btn btn-danger"> delete_chapter</button>
        <button ng-click='back()' class="btn btn-default"> back</button>
    </h3>
</div>
<div class="row">
    <div class="col-md-4">
        <input type="text" class="form-control" placeholder='chapter_name'>
        <br>
        <button class="btn btn-success" ng-click="insert_media()"> insert media</button>
        <br>
        <br>
        <div class="form-control ng-pristine ng-valid" rows="10" ng-model="body" style="height: 200px">
            <ul>
                <li ng-repeat="file in body">
                    &lt {{file.type}}  src=http://fristtry.qiniudn.com/'+{{file.name}} &gt

                </li>
            </ul>

        </div>
    </div>
    <div id="video"
         style="overflow-y: scroll;border:1px solid black;position:relative;left:30px;top:10px;height:500px;width:60%">
    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true" id='inter_active'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3> 多媒体库</h3>
            </div>
            <div class="modal-body" style="height:200px;overflow-y: scroll;width: 90%">
                 <ul id="inter_active_list">
                     <li ng-repeat="video in videos" ng-click="click(video)" id="{{video.objectId}}"> {{video.name}} ({{video.type}})
                 </ul>
            </div>

            <div class="modal-body">
                <input type="radio" name="radio" value='video'>video<br>
                <input type="radio" name="radio" value='image'>image<br>
                <input type="radio" name="radio" value='audio'>audio<br>
                <input id="file" type="file"><br>
                <button class="btn btn-success" ng-click="upload()">uploadFile</button>
            </div>
            <div class="modal-footer">
                <button ng-click='insert()' class="btn btn-success">insert</button>
                <button ng-click='cancel_save()' class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>
